.footer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: black;
  height: 210px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: $white;
  text-align: center;
  &__logo {
    width: 122px;
    margin-top: 65px;
  }
  &__text {
    font-size: 24px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 768px) {
  .footer__text {
    font-size: 12px;
    margin-bottom: 65px;
  }
}
