.nav {
  display: flex;
  align-items: center;
  gap: 55px;
  font-size: 24px;
  font-weight: 500px;
  &__link {
    text-decoration: none;
    color: $color-1;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      background: $color-1;
      border-radius: 10px;
      bottom: -2px;
      left: 50%;
      transform: translateX(0);
      transition: all 300ms;
    }
    &:hover::after,
    &--active::after {
      transform: translateX(-50%);
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    gap: 10px;
    &__link {
      text-transform: uppercase;
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
