.notFound {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    margin-top: 4%;
    width: auto;
    font-size: 18px;
    text-decoration: underline;
  }
  &__number {
    font-size: 288px;
    color: $color-1;
  }
  &__text {
    height: 100%;
    font-size: 36px;
    color: $color-1;
  }
  &__link {
    color: $color-1;
  }
}

@media screen and (max-width: 768px) {
  .notFound {
    a {
      font-size: 14px;
      margin-top: 40%;
    }
    &__number {
      font-size: 96px;
      margin-top: 50%;
    }
    &__text {
      font-size: 18px;
      width: 260px;
      height: 52px;
      font-weight: 500;
    }
  }
}
