.detailsHost {
    margin: 0 5%;
    color: $color-1;

    &__content {
        margin-top: 20px;
    }
    &__title {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
    &__location {
        font-size: 14px;
        font-weight: 500;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &__rating-and-host {
        margin-top: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }  
}
