.tag {
    width:100%;
    margin: 2%;
    
    
    }
    
        .tag_img {
            margin-top: 0%;
            border-radius: 25px;
            width: 96%;
            height: 415px;
            mix-blend-mode: darken;
            filter: brightness(0.60);
            
        
        }
        @media screen and (max-width:426px){
.tag{
    margin-top: 0%;
    .tag_img{
        margin-top: 0%;
        height: 255px;
    }
}

        }

















































